unpackaged/main/default/flows/Budget_MASTER_After_Save_Flow_SM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Auto_Approve</name>
        <label>Auto Approve</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>PSA_FIXED_FEE_Budget_Auto_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Auto_Approve_0</name>
        <label>Auto Approve</label>
        <locationX>974</locationX>
        <locationY>1031</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>PSA_FIXED_FEE_Budget_Auto_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Auto_Approve_0_0</name>
        <label>Auto Approve</label>
        <locationX>1018</locationX>
        <locationY>1919</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>PSA_FIXED_FEE_Budget_Auto_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FF_Approval</name>
        <label>FF Approval</label>
        <locationX>446</locationX>
        <locationY>1031</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>psa_Fixed_Fee_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>FOC_Approval</name>
        <label>FOC Approval</label>
        <locationX>1282</locationX>
        <locationY>1919</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>psa_Fixed_Fee_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>TM_Approval</name>
        <label>TM Approval</label>
        <locationX>1238</locationX>
        <locationY>1031</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>psa_Fixed_Fee_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Approver_is_Submitter</name>
        <label>Approver is Submitter</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>FF_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Approver__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Approve</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approver_is_Submitter_0</name>
        <label>Approver is Submitter</label>
        <locationX>1106</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>TM_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Approver__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Approve_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Approver_is_Submitter_0_0</name>
        <label>Approver is Submitter</label>
        <locationX>1150</locationX>
        <locationY>1799</locationY>
        <defaultConnector>
            <targetReference>FOC_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Approver__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Approve_0_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Budget_Amount</name>
        <label>Budget Amount</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Set_GL_as_Approver</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>B&gt;100K</defaultConnectorLabel>
        <rules>
            <name>B_30k</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.psa_Corp_Total_Amount__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Dir_as_Approver</targetReference>
            </connector>
            <label>B&lt;30k</label>
        </rules>
        <rules>
            <name>X30K_B_100K</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.psa_Corp_Total_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>30000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.psa_Corp_Total_Amount__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>100000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RL_as_Approver</targetReference>
            </connector>
            <label>30K&lt;B&lt;100K</label>
        </rules>
    </decisions>
    <decisions>
        <name>Budget_Amount_0</name>
        <label>Budget Amount</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Set_GL_as_Approver_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>B&gt;500K</defaultConnectorLabel>
        <rules>
            <name>B_250k</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.psa_Corp_Total_Amount__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Dir_as_Approver_0</targetReference>
            </connector>
            <label>B&lt;250k</label>
        </rules>
        <rules>
            <name>X250K_B_500K</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.psa_Corp_Total_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>250000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.psa_Corp_Total_Amount__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>500000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RL_as_Approver_0</targetReference>
            </connector>
            <label>250K&lt;B&lt;500K</label>
        </rules>
    </decisions>
    <decisions>
        <name>Budget_Amount_0_0</name>
        <label>Budget Amount</label>
        <locationX>1150</locationX>
        <locationY>1463</locationY>
        <defaultConnector>
            <targetReference>Set_GL_as_Approver_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>B&gt;25K</defaultConnectorLabel>
        <rules>
            <name>B_10k</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.psa_Corp_Total_Amount__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Dir_as_Approver_0_0</targetReference>
            </connector>
            <label>B&lt;10k</label>
        </rules>
        <rules>
            <name>X10K_B_25K</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.psa_Corp_Total_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.psa_Corp_Total_Amount__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>25000.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RL_as_Approver_0_0</targetReference>
            </connector>
            <label>10K&lt;B&lt;25K</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Type</name>
        <label>Project Type</label>
        <locationX>1150</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Fixed_Fee</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Price</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Project_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Project_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Budget_Amount</targetReference>
            </connector>
            <label>Fixed Fee</label>
        </rules>
        <rules>
            <name>T_M_Prepaid_T_M</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Time and Materials</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prepaid T&amp;M / Drawdown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Project_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Project_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Budget_Amount_0</targetReference>
            </connector>
            <label>T&amp;M / Prepaid T&amp;M</label>
        </rules>
        <rules>
            <name>Service_Credit</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FOC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Project_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Project_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Budget_Amount_0_0</targetReference>
            </connector>
            <label>Service Credit</label>
        </rules>
        <rules>
            <name>Internal_or_Strategic</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Project_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal - Strategic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Project_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal -  Admin and Ops</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Budget_Amount_0_0</targetReference>
            </connector>
            <label>Internal or Strategic</label>
        </rules>
    </decisions>
    <formulas>
        <name>GetDirector</name>
        <dataType>String</dataType>
        <expression>{!$Record.pse__Project__r.Director__r.pse__Salesforce_User__c}</expression>
    </formulas>
    <formulas>
        <name>GetRegionOwner</name>
        <dataType>String</dataType>
        <expression>{!$Record.pse__Project__r.pse__Region__r.pse__Region_Head__r.pse__Salesforce_User__c}</expression>
    </formulas>
    <interviewLabel>Budget: MASTER After Save Flow SM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Budget: MASTER After Save Flow SM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Global_Lead_0</name>
        <label>Get Global Lead</label>
        <locationX>1150</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Natalia</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Dir_as_Approver</name>
        <label>Set Dir as Approver</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Approver_is_Submitter</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Approver__c</field>
            <value>
                <elementReference>GetDirector</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Dir_as_Approver_0</name>
        <label>Set Dir as Approver</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Approver_is_Submitter_0</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Approver__c</field>
            <value>
                <elementReference>GetDirector</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Dir_as_Approver_0_0</name>
        <label>Set Dir as Approver</label>
        <locationX>886</locationX>
        <locationY>1583</locationY>
        <connector>
            <targetReference>Approver_is_Submitter_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Approver__c</field>
            <value>
                <elementReference>GetDirector</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_GL_as_Approver</name>
        <label>Set GL as Approver</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Approver_is_Submitter</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Approver__c</field>
            <value>
                <elementReference>Get_Global_Lead_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_GL_as_Approver_0</name>
        <label>Set GL as Approver</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Approver_is_Submitter_0</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Approver__c</field>
            <value>
                <elementReference>Get_Global_Lead_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_GL_as_Approver_0_0</name>
        <label>Set GL as Approver</label>
        <locationX>1414</locationX>
        <locationY>1583</locationY>
        <connector>
            <targetReference>Approver_is_Submitter_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Approver__c</field>
            <value>
                <elementReference>Get_Global_Lead_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_RL_as_Approver</name>
        <label>Set RL as Approver</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Approver_is_Submitter</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Approver__c</field>
            <value>
                <elementReference>GetRegionOwner</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_RL_as_Approver_0</name>
        <label>Set RL as Approver</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Approver_is_Submitter_0</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Approver__c</field>
            <value>
                <elementReference>GetRegionOwner</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_RL_as_Approver_0_0</name>
        <label>Set RL as Approver</label>
        <locationX>1150</locationX>
        <locationY>1583</locationY>
        <connector>
            <targetReference>Approver_is_Submitter_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Approver__c</field>
            <value>
                <elementReference>GetRegionOwner</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1024</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Global_Lead_0</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>psa_Submitted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>pse__Budget__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
