unpackaged/main/default/flows/Budget_Update_Approver.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Auto_Approval_Process</name>
        <label>Auto Approval Process</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>PSA_Non_billable_Internal_Auto_Approve</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Auto_Approve_Budget</name>
        <label>Auto Approve Budget</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>PSA_T_M_Budget_Auto_Approve</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Auto_Approve_Fixed_Fee_Budget</name>
        <label>Auto Approve Fixed Fee Budget</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>PSA_FIXED_FEE_Budget_Auto_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_Budget_for_Approval_0</name>
        <label>Submit Budget for Approval</label>
        <locationX>1634</locationX>
        <locationY>935</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Customer_Purchase_Order_Change_Request</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Auto Submitted </stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_Budget_for_Fixed_Fee_Approval_0</name>
        <label>Submit Budget for Fixed Fee Approval</label>
        <locationX>842</locationX>
        <locationY>815</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>PSA_FIXED_FEE_Budget_Approval_Process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_Budget_for_Non_Billable_or_Strategic_Approval_0</name>
        <label>Submit Budget for Non-Billable or Strategic Approval</label>
        <locationX>1370</locationX>
        <locationY>935</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>PSA_Non_billable_Internal_or_Strategic</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_T_M_Budget_For_Approval_0</name>
        <label>Submit T&amp;M Budget For Approval</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>PSA_T_M_Budget_Approval_Process</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Does_Auto_Approval_Apply</name>
        <label>Does Auto Approval Apply</label>
        <locationX>1238</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Submit_Budget_for_Non_Billable_or_Strategic_Approval_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESAA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.pse__Approver__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Approval_Process</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Auto_Approval_Apply_0</name>
        <label>Does Auto Approval Apply</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Submit_T_M_Budget_For_Approval_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESAA_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.pse__Approver__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Approve_Budget</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Auto_Approval_Apply_0_0</name>
        <label>Does Auto Approval Apply</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Submit_Budget_for_Fixed_Fee_Approval_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YESAA_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.pse__Approver__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Auto_Approve_Fixed_Fee_Budget</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fixed_Fee_Budget_Approval_Required</name>
        <label>Fixed Fee Budget Approval Required?</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Non_billable_Internal_or_Strategic_Budget_Approval_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Price</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Project_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline, Customer Delivery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted, Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approver_0_0_0</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Budget_Customer_PO_or_Customer_CR</name>
        <label>Is Budget Customer PO or Customer CR?</label>
        <locationX>1766</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Purchase Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Purchase Order Change Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved, Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approver_0</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Non_billable_Internal_or_Strategic_Budget_Approval_Required</name>
        <label>Non-billable Internal or Strategic Budget Approval Required?</label>
        <locationX>1502</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Is_Budget_Customer_PO_or_Customer_CR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FOC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted, Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approver_0_0_0_0</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>T_M_Budget_Approval_Process_Required</name>
        <label>T &amp; M Budget Approval Process Required?</label>
        <locationX>644</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Fixed_Fee_Budget_Approval_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES2</name>
            <conditionLogic>4 AND (1 AND 2) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Billing_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Fixed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Project_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Project_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer Delivery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Submitted, Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Approver_0_0</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <formulas>
        <name>GetDirector</name>
        <dataType>String</dataType>
        <expression>{!$Record.pse__Project__r.Director__r.pse__Salesforce_User__c}</expression>
    </formulas>
    <formulas>
        <name>GetRegionOwner</name>
        <dataType>String</dataType>
        <expression>{!$Record.pse__Project__r.pse__Region__r.pse__Region_Head__r.pse__Salesforce_User__c}</expression>
    </formulas>
    <interviewLabel>Budget:  Update Approver {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Budget: MASTER After Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Approver_0</name>
        <label>Update Approver</label>
        <locationX>1634</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>Submit_Budget_for_Approval_0</targetReference>
        </connector>
        <inputAssignments>
            <field>psa_Project_Director__c</field>
            <value>
                <elementReference>GetDirector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Approver__c</field>
            <value>
                <elementReference>GetRegionOwner</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approver_0_0</name>
        <label>Update Approver</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Does_Auto_Approval_Apply_0</targetReference>
        </connector>
        <inputAssignments>
            <field>psa_Project_Director__c</field>
            <value>
                <elementReference>GetDirector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Approver__c</field>
            <value>
                <elementReference>GetRegionOwner</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approver_0_0_0</name>
        <label>Update Approver</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Does_Auto_Approval_Apply_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>psa_Project_Director__c</field>
            <value>
                <elementReference>GetDirector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Approver__c</field>
            <value>
                <elementReference>GetRegionOwner</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Approver_0_0_0_0</name>
        <label>Update Approver</label>
        <locationX>1238</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Does_Auto_Approval_Apply</targetReference>
        </connector>
        <inputAssignments>
            <field>psa_Project_Director__c</field>
            <value>
                <elementReference>GetDirector</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Approver__c</field>
            <value>
                <elementReference>GetRegionOwner</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>T_M_Budget_Approval_Process_Required</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>psa_Submitted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>pse__Budget__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
