unpackaged/main/default/flows/FFX_PSA_Assignment_Set_Bill_Rate_from_Rate_Card_For_Non_Fixed_Price_Projects.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <description>Migrated from the: FFX PSA Assignment Set Bill Rate from Rate Card For Non-Fixed Price Projects workflow rule
Workflow rule description: PSA Assignment Set Bill Rate from Rate Card For Non-Fixed Price&quot;</description>
    <formulas>
        <name>FFX_PSA_Update_Bill_Rate_Rate_CardFormula</name>
        <dataType>Currency</dataType>
        <expression>IF(NOT(ISNULL($Record.pse__Resource_Request__c))
			,$Record.pse__Resource_Request__r.pse__Requested_Bill_Rate__c
			,IF(NOT(ISNULL($Record.pse__Rate_Card__c))
							,$Record.pse__Suggested_Bill_Rate_Number__c
							, $Record.pse__Bill_Rate__c))</expression>
        <scale>0</scale>
    </formulas>
    <label>FFX PSA Assignment Set Bill Rate from Rate Card For Non-Fixed Price Projects</label>
    <migratedFromWorkflowRuleName>FFX PSA Assignment Set Bill Rate from Rate Card For Non-Fixed Price Projects</migratedFromWorkflowRuleName>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>mainUpdate</name>
        <label>mainUpdate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>pse__Bill_Rate__c</field>
            <value>
                <elementReference>FFX_PSA_Update_Bill_Rate_Rate_CardFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Use_Project_Currency_For_Resource_Cost__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Use_Resource_Default_Cost_Rate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>ScheduledPath1Update</name>
        <label>ScheduledPath1Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>pse__Bill_Rate__c</field>
            <value>
                <elementReference>FFX_PSA_Update_Bill_Rate_Rate_CardFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Use_Project_Currency_For_Resource_Cost__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Use_Resource_Default_Cost_Rate__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>mainUpdate</targetReference>
        </connector>
        <filterFormula>AND({!$Record.pse__Project__r.pse__Is_Billable__c} = TRUE
				, OR(ISPICKVAL({!$Record.pse__Project__r.pse__Billing_Type__c}, &apos;Time and Materials&apos;)
									,ISPICKVAL({!$Record.pse__Project__r.pse__Billing_Type__c}, &apos;Prepaid T&amp;M / Drawdown&apos;)) 
				, {!$Record.pse__Is_Billable__c}
			 , {!$Record.psa_DM__c} = False)</filterFormula>
        <object>pse__Assignment__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>ScheduledPath1</name>
            <connector>
                <targetReference>ScheduledPath1Update</targetReference>
            </connector>
            <label>ScheduledPath1</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>psa_Time_Delay__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
