unpackaged/main/default/flows/MA_FROM_MILESTONE.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <formulas>
        <name>TODAY</name>
        <dataType>Date</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>MA FROM MILESTONE {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MA FROM MILESTONE</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_MA</name>
        <label>Create MA</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>UpdateMACreatedFlag</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Service Credit - Amount</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Amount__c</field>
            <value>
                <elementReference>$Record.MA_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Approved__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Effective_Date__c</field>
            <value>
                <elementReference>$Record.pse__Bill_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Exclude_from_Billing__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Include_In_Financials__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Project__c</field>
            <value>
                <elementReference>$Record.pse__Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Status__c</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Transaction_Category__c</field>
            <value>
                <stringValue>Ready-to-Bill Revenue</stringValue>
            </value>
        </inputAssignments>
        <object>pse__Miscellaneous_Adjustment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>UpdateMACreatedFlag</name>
        <label>UpdateMACreatedFlag</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>psa_MA_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>psa_Miscellaneous_Adjustment__c</field>
            <value>
                <elementReference>Create_MA</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_MA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Billed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>psa_MA_Created__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>psa_Milestone_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Milestone</stringValue>
            </value>
        </filters>
        <object>pse__Milestone__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
