unpackaged/main/default/flows/Milestone_Master_AFTER_Save_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Is_amount_billed_greater_or_equal_to_Milestone_Amount</name>
        <label>Is amount billed greater or equal to Milestone Amount?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Billable_Amount_In_Financials__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.pse__Milestone_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Closed_for_Time_Entry</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Updates the closed for time entry field if the amount billed on the Milestone is greater than or equal to the Milestone Amount value.</description>
    <interviewLabel>Milestone: Master AFTER Save Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Milestone: Master AFTER Save Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Closed_for_Time_Entry</name>
        <label>Update Closed for Time Entry</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Closed_for_Time_Entry__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>pse__Closed_for_Time_Entry__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_amount_billed_greater_or_equal_to_Milestone_Amount</targetReference>
        </connector>
        <object>pse__Milestone__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
