unpackaged/main/default/flows/Project_Closed_for_Time_Entry_when_Billings_Milestones.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Billings_Greater_or_Equal_Less_Than_Milestone_Amount</name>
        <label>Billings Greater or Equal/Less Than Milestone Amount</label>
        <locationX>619</locationX>
        <locationY>315</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_than</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.pse__Billings__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>MilestoneAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_Time_Entry</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Greater than</label>
        </rules>
        <rules>
            <name>Less_Than</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project.pse__Billings__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>MilestoneAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Time_Entry_Remains_Open</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Less Than</label>
        </rules>
    </decisions>
    <interviewLabel>Project:  Closed for Time Entry when Billings &gt; Milestones {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project:  Closed for Time Entry when Billings &gt; Milestones</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Project</name>
        <label>Get Project</label>
        <locationX>443</locationX>
        <locationY>117</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Milestone_Amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Project_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Proj__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Milestone_Amount</name>
        <label>Milestone Amount</label>
        <locationX>574</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Billings_Greater_or_Equal_Less_Than_Milestone_Amount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Project.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Milestone__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Close_Time_Entry</name>
        <label>Close Time Entry</label>
        <locationX>793</locationX>
        <locationY>617</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pse__Closed_for_Time_Entry__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>pse__Proj__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Time_Entry_Remains_Open</name>
        <label>Time Entry Remains Open</label>
        <locationX>439</locationX>
        <locationY>614</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pse__Closed_for_Time_Entry__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>pse__Proj__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Project</targetReference>
        </connector>
        <object>pse__Proj__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>MilestoneAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <elementReference>Milestone_Amount.pse__Milestone_Amount__c</elementReference>
        </value>
    </variables>
</Flow>
