unpackaged/main/default/flows/Project_Master_AFTER_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>402</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>loop.pse__Closed_for_Time_Entry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Submitted_Flag</name>
        <label>Assign Submitted Flag</label>
        <locationX>270</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>Loop_RRs.psa_Submitted__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_RRs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Forecasting_Settings</name>
        <label>Forecasting Settings</label>
        <locationX>314</locationX>
        <locationY>2495</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>T_M_Project</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Time and Materials</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prepaid T&amp;M / Drawdown</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Include_in_Forecast_and_Rec_Method</targetReference>
            </connector>
            <label>T&amp;M Project</label>
        </rules>
        <rules>
            <name>Fixed_Price</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Price</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Is_Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Forecast_fields_to_Fixed_Price_type_Options</targetReference>
            </connector>
            <label>Fixed Price</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_bookings_value_greater_than_0</name>
        <label>Is bookings value greater than 0</label>
        <locationX>314</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Pipeline_Probability</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Bookings__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Credited_to_False_and_Billable_to_True</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Project_Manager_Field_Blank</name>
        <label>Is Project Manager Field Blank?</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Is_bookings_value_greater_than_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Project_Manager__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Project_Manager_with_Director</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Project_Manager_Field_Blank_0</name>
        <label>Is Project Manager Field Blank?</label>
        <locationX>974</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES3_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Project_Manager__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Project_Manager_with_Director_0</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_Delivery_Project</name>
        <label>Is this Delivery Project</label>
        <locationX>644</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Is_Project_Manager_Field_Blank_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_related_Milestones</targetReference>
            </connector>
            <label>Is Delivery</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pipeline_Probability</name>
        <label>Pipeline Probability</label>
        <locationX>314</locationX>
        <locationY>1703</locationY>
        <defaultConnector>
            <targetReference>Forecasting_Settings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prob_75</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Probability__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>75.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Unapproved_RRs</targetReference>
            </connector>
            <label>Prob &gt; 75</label>
        </rules>
    </decisions>
    <description>Added setting of the Include in Forecasting checkbox and the Recognition Method dropdown.</description>
    <interviewLabel>Project: Master AFTER Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project: Master AFTER Save</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_related_Milestones</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Project_Manager_Field_Blank</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_RRs</name>
        <label>Loop RRs</label>
        <locationX>182</locationX>
        <locationY>1943</locationY>
        <collectionReference>Get_Unapproved_RRs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Submitted_Flag</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_to_Submitted_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_related_Milestones</name>
        <label>Get related Milestones</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>psa_Milestone_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Service Credit</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Milestone__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>pse__Closed_for_Time_Entry__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Unapproved_RRs</name>
        <label>Get Unapproved RRs</label>
        <locationX>182</locationX>
        <locationY>1823</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_RRs</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>pse__Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>psa_Submitted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>psa_Discount_Approved__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>pse__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ready to Staff</stringValue>
            </value>
        </filters>
        <filters>
            <field>pse__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hold</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pse__Resource_Request__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>psa_Submitted__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Credited_to_False_and_Billable_to_True</name>
        <label>Set Credited to False and Billable to True</label>
        <locationX>182</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Pipeline_Probability</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pse__Is_Billable__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Time_Credited__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>pse__Proj__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Include_in_Forecast_and_Rec_Method</name>
        <label>Set Include in Forecast and Rec Method</label>
        <locationX>50</locationX>
        <locationY>2615</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pse__Include_In_Forecasting__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_to_Submitted_0</name>
        <label>Set to Submitted</label>
        <locationX>182</locationX>
        <locationY>2279</locationY>
        <connector>
            <targetReference>Forecasting_Settings</targetReference>
        </connector>
        <inputReference>Get_Unapproved_RRs</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_0</name>
        <label>update</label>
        <locationX>402</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
        <inputReference>loop</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Forecast_fields_to_Fixed_Price_type_Options</name>
        <label>Update Forecast fields to Fixed Price type Options</label>
        <locationX>314</locationX>
        <locationY>2615</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pse__Include_In_Forecasting__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_Manager_with_Director</name>
        <label>Update Project Manager with Director</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Is_bookings_value_greater_than_0</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Project_Manager__c</field>
            <value>
                <elementReference>$Record.Director__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Project_Manager_with_Director_0</name>
        <label>Update Project Manager with Director</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>pse__Project_Manager__c</field>
            <value>
                <elementReference>$Record.Director__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_this_Delivery_Project</targetReference>
        </connector>
        <object>pse__Proj__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
