unpackaged/main/default/flows/PSA_Project_Status_Flow_on_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <interviewLabel>PSA - Project Status Flow (on Delete) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSA - Project Status Flow (on Delete)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all related &apos;external&apos; project statuses</description>
        <name>GetProjectStatuses</name>
        <label>GetProjectStatuses</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateProject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>psa_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.psa_Project__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>psa_Status_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>External</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>psa_Project_Status__c</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateProject</name>
        <label>UpdateProject</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.psa_Project__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pse__Project_Status__c</field>
            <value>
                <elementReference>GetProjectStatuses.psa_Project_Status__c</elementReference>
            </value>
        </inputAssignments>
        <object>pse__Proj__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetProjectStatuses</targetReference>
        </connector>
        <object>psa_Project_Status__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
