unpackaged/main/default/flows/psa_Resource_Request_Update_Bill_Rates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Project_Type</name>
        <label>Project Type</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Update_Other_Bill_Rate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Fixed_Price</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Price</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_FP_Bill_Rate</targetReference>
            </connector>
            <label>Fixed Price</label>
        </rules>
        <rules>
            <name>T_M_or_T_M_Prepaid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Time and Materials</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prepaid T&amp;M / Drawdown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RR_Requested_Bill_Rate</targetReference>
            </connector>
            <label>T&amp;M or T&amp;M Prepaid</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is it 0?</description>
        <name>RR_Requested_Bill_Rate</name>
        <label>RR - Requested Bill Rate</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Update_TM_Bill_Rate_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Value</defaultConnectorLabel>
        <rules>
            <name>Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Requested_Bill_Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_TM_Bill_Rate_0</targetReference>
            </connector>
            <label>Value</label>
        </rules>
    </decisions>
    <description>Removed custom SBR fields and updates</description>
    <interviewLabel>Resource Request Update Bill Rates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resource Request Update Bill Rates SM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Custom_SBR</name>
        <label>Set Custom SBR</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pse__Requested_Bill_Rate__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.pse__Suggested_Bill_Rate_Number__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pse__Suggested_Bill_Rate_Number__c</field>
            <value>
                <elementReference>$Record.pse__Requested_Bill_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_FP_Bill_Rate</name>
        <label>Update FP Bill Rate</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>ffps_ihs__FpBillRate__c</field>
            <value>
                <elementReference>$Record.pse__Rate_Card__r.pse__Suggested_Bill_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Average_Cost_Rate_Number__c</field>
            <value>
                <elementReference>$Record.pse__Rate_Card__r.pse__Average_Cost_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Requested_Bill_Rate__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Suggested_Bill_Rate_Number__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Other_Bill_Rate</name>
        <label>Update Other Bill Rate</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>ffps_ihs__FpBillRate__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Requested_Bill_Rate__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Suggested_Bill_Rate_Number__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TM_Bill_Rate_0</name>
        <label>Update TM Bill Rate</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Set_Custom_SBR</targetReference>
        </connector>
        <inputAssignments>
            <field>ffps_ihs__FpBillRate__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Average_Cost_Rate_Number__c</field>
            <value>
                <elementReference>$Record.pse__Rate_Card__r.pse__Average_Cost_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_TM_Bill_Rate_0_0</name>
        <label>Update TM Bill Rate</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <inputAssignments>
            <field>ffps_ihs__FpBillRate__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Average_Cost_Rate_Number__c</field>
            <value>
                <elementReference>$Record.pse__Rate_Card__r.pse__Average_Cost_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pse__Requested_Bill_Rate__c</field>
            <value>
                <elementReference>$Record.pse__Suggested_Bill_Rate_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Project_Type</targetReference>
        </connector>
        <object>pse__Resource_Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
