unpackaged/main/default/flows/PSA_Budget_Approver_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AutoApproval</name>
        <label>AutoApproval</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>PSA_FIXED_FEE_Budget_Auto_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>BudgetApproval</name>
        <label>BudgetApproval</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>psa_Fixed_Fee_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AssignApprover</name>
        <label>AssignApprover</label>
        <locationX>270</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.pse__Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRPGowners.psa_Owner_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordLimit</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRPGowners</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Approver_is_Submitter</name>
        <label>Approver is Submitter</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>BudgetApproval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Approver__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AutoApproval</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCounter</name>
        <label>CheckCounter</label>
        <locationX>402</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>LoopRPGowners</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less than 1</defaultConnectorLabel>
        <rules>
            <name>More_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordLimit</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignApprover</targetReference>
            </connector>
            <label>More than 0</label>
        </rules>
    </decisions>
    <description>New budget approver assignment</description>
    <interviewLabel>PSA - Budget Approver Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSA - Budget Approver Assignment</label>
    <loops>
        <name>LoopRPGowners</name>
        <label>LoopRPGowners</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <collectionReference>GetRPGowners</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckCounter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateBudget</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRPGowners</name>
        <label>GetRPGowners</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopRPGowners</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND (3 OR 4) AND (5 OR 6) AND 7 AND 8 AND 9 AND 10</filterLogic>
        <filters>
            <field>psa_Region_ID_Chain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.pse__Project__r.pse__Region__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>psa_Region_ID_Chain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.pse__Project__r.pse__Region__r.pse__Parent_Region__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>psa_Practice_ID_Chain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.pse__Project__r.pse__Practice__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>psa_Practice_ID_Chain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.pse__Project__r.pse__Practice__r.pse__Parent_Practice__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>psa_Group_ID_Chain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.pse__Project__r.pse__Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>psa_Group_ID_Chain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.pse__Project__r.pse__Group__r.pse__Parent_Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>psa_Commercial_Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pse__Project__r.pse__Billing_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Approval_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Budget</stringValue>
            </value>
        </filters>
        <filters>
            <field>psa_FF_Min__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.psa_Corp_Total_Amount__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>psa_FF_Max__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>$Record.psa_Corp_Total_Amount__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>psa_RPG_Owner__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>psa_Owner_Approver__c</queriedFields>
        <sortField>psa_Hierarchy_Depth__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateBudget</name>
        <label>UpdateBudget</label>
        <locationX>182</locationX>
        <locationY>1007</locationY>
        <connector>
            <targetReference>Approver_is_Submitter</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRPGowners</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>psa_Submitted__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>psa_Submitted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>pse__Budget__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varRecordLimit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
