unpackaged/main/default/flows/psa_Resource_Request_Submit_for_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>GetRRid</name>
        <label>GetRR id</label>
        <locationX>578</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentRecord</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetRR</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Ready_for_Approval</name>
        <label>Ready for Approval</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ready</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>GetRR.pse__Rate_Card__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRR.pse__Project__r.Probability__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>75.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRR.psa_Discount_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRR.pse__Project__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetRR.pse__Project__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Submitted</targetReference>
            </connector>
            <label>Ready</label>
        </rules>
        <rules>
            <name>Project_not_75</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRR.pse__Project__r.Probability__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>75.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_for_Approval_0</targetReference>
            </connector>
            <label>Project not &gt; 75</label>
        </rules>
        <rules>
            <name>No_Rate_Card</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRR.pse__Rate_Card__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_for_Approval_0_0</targetReference>
            </connector>
            <label>No Rate Card</label>
        </rules>
        <rules>
            <name>Internal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetRR.pse__Project__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Submitted_0</targetReference>
            </connector>
            <label>Internal</label>
        </rules>
    </decisions>
    <interviewLabel>Resource Request: Submit for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resource Request: Submit for Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetRR</name>
        <label>GetRR</label>
        <locationX>578</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Ready_for_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pse__Resource_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Submitted</name>
        <label>Update Submitted</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Sent_for_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>psa_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>pse__Resource_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Submitted_0</name>
        <label>Update Submitted</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Sent_for_Approval_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>psa_Submitted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>pse__Resource_Request__c</object>
    </recordUpdates>
    <screens>
        <name>Sent_for_Approval</name>
        <label>Sent for Approval</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SentText</name>
            <fieldText>&lt;p&gt;This resource request has been submitted for approval.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sent_for_Approval_0</name>
        <label>Sent for Approval</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SentText_0</name>
            <fieldText>&lt;p&gt;This resource request has not been submitted for approval.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(224, 25, 25);&quot;&gt;You cannot submit a resource request where the project probability is less than 75%.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sent_for_Approval_0_0</name>
        <label>Sent for Approval</label>
        <locationX>578</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SentText_0_0</name>
            <fieldText>&lt;p&gt;This resource request has not been submitted for approval.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(224, 25, 25);&quot;&gt;There is no rate card related to this resource request. Please review and resubmit. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sent_for_Approval_0_0_0</name>
        <label>Sent for Approval</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SentText_0_0_0</name>
            <fieldText>&lt;p&gt;This resource request has been submitted for approval.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRRid</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
