unpackaged/main/default/flows/PSA_RR_Approver_Assignment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RRapproval</name>
        <label>RRapproval</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Resource_Request_Approval1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$Record.LastModifiedBy.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RRapproval_0</name>
        <label>RRapproval</label>
        <locationX>666</locationX>
        <locationY>1247</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Resource_Request_Approval1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$Record.LastModifiedBy.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RRAutoApproval</name>
        <label>RRAutoApproval</label>
        <locationX>930</locationX>
        <locationY>575</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>RR_Auto_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>submitterId</name>
            <value>
                <elementReference>$Record.LastModifiedBy.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AssignApprover_0</name>
        <label>AssignApprover</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopRPGowners.psa_Owner_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordLimit</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopRPGowners</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignApprover_0_0</name>
        <label>AssignApprover</label>
        <locationX>754</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopFOCowners.psa_Owner_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varRecordLimit</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopFOCowners</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckCounter</name>
        <label>CheckCounter</label>
        <locationX>270</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>LoopRPGowners</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less than 1</defaultConnectorLabel>
        <rules>
            <name>More_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordLimit</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignApprover_0</targetReference>
            </connector>
            <label>More than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckCounter_0</name>
        <label>CheckCounter</label>
        <locationX>886</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>LoopFOCowners</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less than 1</defaultConnectorLabel>
        <rules>
            <name>More_than_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varRecordLimit</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignApprover_0_0</targetReference>
            </connector>
            <label>More than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Commercial_Model</name>
        <label>Commercial Model</label>
        <locationX>490</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>FixedPriceProject</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>T_M</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Time and Materials</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRPGowners</targetReference>
            </connector>
            <label>T&amp;M</label>
        </rules>
        <rules>
            <name>FOC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FOC</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetRPGowners_0</targetReference>
            </connector>
            <label>FOC</label>
        </rules>
    </decisions>
    <description>added submitter ID</description>
    <environments>Default</environments>
    <formulas>
        <name>DiscountPercent</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Bill_Rate_Variance__c}*-1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>PSA - RR Approver Assignment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PSA - RR Approver Assignment</label>
    <loops>
        <name>LoopFOCowners</name>
        <label>LoopFOCowners</label>
        <locationX>666</locationX>
        <locationY>575</locationY>
        <collectionReference>GetRPGowners_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckCounter_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateRR2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopRPGowners</name>
        <label>LoopRPGowners</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>GetRPGowners</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckCounter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateRR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetRPGowners</name>
        <label>GetRPGowners</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopRPGowners</targetReference>
        </connector>
        <filterLogic>4 AND 5 AND 6 AND 7 AND (1 OR 8) AND (2 OR 9) AND (3 OR 10)</filterLogic>
        <filters>
            <field>psa_Region_ID_Chain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.pse__Region__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>psa_Practice_ID_Chain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.pse__Practice__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>psa_Group_ID_Chain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.pse__Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>psa_Commercial_Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pse__Project__r.pse__Billing_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Approval_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resource Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>psa_FF_Min__c</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>DiscountPercent</elementReference>
            </value>
        </filters>
        <filters>
            <field>psa_FF_Max__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>DiscountPercent</elementReference>
            </value>
        </filters>
        <filters>
            <field>psa_Region_ID_Chain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.pse__Region__r.pse__Parent_Region__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>psa_Practice_ID_Chain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.pse__Practice__r.pse__Parent_Practice__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>psa_Group_ID_Chain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.pse__Group__r.pse__Parent_Group__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>psa_RPG_Owner__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>psa_Owner_Approver__c</queriedFields>
        <queriedFields>psa_FF_Min__c</queriedFields>
        <queriedFields>psa_FF_Max__c</queriedFields>
        <sortField>psa_Hierarchy_Depth__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRPGowners_0</name>
        <label>GetRPGowners</label>
        <locationX>666</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopFOCowners</targetReference>
        </connector>
        <filterLogic>(1 OR 7) AND (2 OR 8) AND (3 OR 9) AND 4 AND 5 AND 6</filterLogic>
        <filters>
            <field>psa_Region_ID_Chain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.pse__Region__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>psa_Practice_ID_Chain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.pse__Practice__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>psa_Group_ID_Chain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.pse__Group__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>psa_Commercial_Model__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.pse__Project__r.pse__Billing_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Approval_Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resource Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>psa_Max_Rate_Discount__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.pse__SOW_Hours__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>psa_Region_ID_Chain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.pse__Region__r.pse__Parent_Region__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>psa_Practice_ID_Chain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.pse__Practice__r.pse__Parent_Practice__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>psa_Group_ID_Chain__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>$Record.pse__Group__r.pse__Parent_Group__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>psa_RPG_Owner__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>psa_Owner_Approver__c</queriedFields>
        <sortField>psa_Hierarchy_Depth__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Set notes on RR</description>
        <name>FixedPriceProject</name>
        <label>FixedPriceProject</label>
        <locationX>930</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>RRAutoApproval</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Notes__c</field>
            <value>
                <stringValue>&apos;Pipeline/Delivery - Fixed Price&apos;</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRR</name>
        <label>UpdateRR</label>
        <locationX>50</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>RRapproval</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateRR2</name>
        <label>UpdateRR</label>
        <locationX>666</locationX>
        <locationY>1127</locationY>
        <connector>
            <targetReference>RRapproval_0</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>364</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Commercial_Model</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>psa_Submitted__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>psa_Submitted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>pse__Resource_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ApproverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordLimit</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
