unpackaged/main/default/flows/Resource_Request_Auto_Submit_for_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_Resource_Request_for_Approval_0</name>
        <label>Submit Resource Request for Approval</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Non_Billable_RR_to_Region_Owner</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_Resource_Request_for_Approval_0_0</name>
        <label>Submit Resource Request for Approval</label>
        <locationX>578</locationX>
        <locationY>671</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Resource_Requests_for_T_and_M_V1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <constants>
        <name>BillableFalse</name>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </constants>
    <decisions>
        <description>Checks if the Staffer Approval Required field value is currently FALSE</description>
        <name>Is_Approval_Required</name>
        <label>Is Approval Required?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.psa_Lost_Billings_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RR_Approver</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Approval_Required2</name>
        <label>Is Approval Required?</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES3</name>
            <conditionLogic>(1  OR 5) AND (2 AND 3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bill_Rate_Variance__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Time and Materials</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.psa_Discount_Approved__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Suggested_Bill_Rate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RR_Approver_0</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_RR_Non_Billable</name>
        <label>Is RR Non-Billable?</label>
        <locationX>446</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Is_Approval_Required2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.psa_Lost_Billings_Value__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fixed Price</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Approval_Required</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <formulas>
        <name>AssignmentNonBillable</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.pse__Assignment__r.pse__Is_Billable__c} = False</expression>
    </formulas>
    <formulas>
        <name>UpdateApproverwithRegionLead</name>
        <dataType>String</dataType>
        <expression>{!$Record.pse__Project__r.pse__Region__r.pse__Region_Head__r.pse__Salesforce_User__c}</expression>
    </formulas>
    <interviewLabel>Resource Request: Auto Submit for Approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resource Request: Auto Submit for Approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Set the Approver based on the Regional Lead for the RR</description>
        <name>Update_RR_Approver</name>
        <label>Update RR Approver</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Submit_Resource_Request_for_Approval_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>UpdateApproverwithRegionLead</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Set the Approver based on the Regional Lead for the RR</description>
        <name>Update_RR_Approver_0</name>
        <label>Update RR Approver</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <connector>
            <targetReference>Submit_Resource_Request_for_Approval_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>UpdateApproverwithRegionLead</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_RR_Non_Billable</targetReference>
        </connector>
        <object>pse__Resource_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
