unpackaged/main/default/flows/Resource_Request_Update_RPG.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>GroupIsBlank</name>
        <label>GroupIsBlank</label>
        <locationX>176</locationX>
        <locationY>983</locationY>
        <defaultConnector>
            <targetReference>UpdateProjGroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCurr</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>PracticeIsBlank</name>
        <label>PracticeIsBlank</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>UpdateProjPractice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Practice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GroupIsBlank</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>RegionIsBlank</name>
        <label>RegionIsBlank</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>UpdateProjRegion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Region__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PracticeIsBlank</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <interviewLabel>Resource Request: Update RPG {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resource Request: Update RPG</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateCurr</name>
        <label>UpdateCurr</label>
        <locationX>176</locationX>
        <locationY>1319</locationY>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.pse__Project__r.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateProjGroup</name>
        <label>UpdateProjGroup</label>
        <locationX>264</locationX>
        <locationY>1103</locationY>
        <connector>
            <targetReference>UpdateCurr</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Group__c</field>
            <value>
                <elementReference>$Record.pse__Project__r.pse__Group__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateProjPractice</name>
        <label>UpdateProjPractice</label>
        <locationX>264</locationX>
        <locationY>767</locationY>
        <connector>
            <targetReference>GroupIsBlank</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Practice__c</field>
            <value>
                <elementReference>$Record.pse__Project__r.pse__Practice__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateProjRegion</name>
        <label>UpdateProjRegion</label>
        <locationX>264</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>PracticeIsBlank</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Region__c</field>
            <value>
                <elementReference>$Record.pse__Project__r.pse__Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RegionIsBlank</targetReference>
        </connector>
        <object>pse__Resource_Request__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
