unpackaged/main/default/flows/Resource_Req_MASTER_After_Save_Flow_SM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>RR_Approval</name>
        <label>RR Approval</label>
        <locationX>446</locationX>
        <locationY>1391</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Resource_Request_Approval1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RR_Approval_0</name>
        <label>RR Approval</label>
        <locationX>1766</locationX>
        <locationY>1031</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Resource_Request_Approval1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RR_Auto_Approval</name>
        <label>RR Auto Approval</label>
        <locationX>842</locationX>
        <locationY>1055</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>RR_Auto_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RR_Auto_Approval_0</name>
        <label>RR Auto Approval</label>
        <locationX>1106</locationX>
        <locationY>935</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>RR_Auto_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RR_Auto_Approval_0_0</name>
        <label>RR Auto Approval</label>
        <locationX>1370</locationX>
        <locationY>815</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>RR_Auto_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>RR_Auto_Approval_0_0_0</name>
        <label>RR Auto Approval</label>
        <locationX>2162</locationX>
        <locationY>815</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>RR_Auto_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Discount</name>
        <label>Discount</label>
        <locationX>446</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Set_Notes_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>D=0</defaultConnectorLabel>
        <rules>
            <name>is_0_D_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bill_Rate_Variance__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bill_Rate_Variance__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>-10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Dir_as_Approver</targetReference>
            </connector>
            <label>is 0&lt;D&lt;=10</label>
        </rules>
        <rules>
            <name>is_10_D_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bill_Rate_Variance__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>-10.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bill_Rate_Variance__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>-20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_RL_as_Approver</targetReference>
            </connector>
            <label>is 10&lt;D&lt;=20</label>
        </rules>
        <rules>
            <name>is_D_20</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Bill_Rate_Variance__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>-20.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_GL_as_Approver</targetReference>
            </connector>
            <label>is D&gt;20</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Billing_Type</name>
        <label>Project Billing Type</label>
        <locationX>1073</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Set_Notes_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Fixed Price</defaultConnectorLabel>
        <rules>
            <name>T_M_or_T_M_Prepaid</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Time and Materials</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Billing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prepaid T&amp;M / Drawdown</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Requested_Bill_Rate_changed</targetReference>
            </connector>
            <label>T&amp;M or T&amp;M Prepaid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_RecordType</name>
        <label>Project RecordType</label>
        <locationX>1518</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Project_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Internal</defaultConnectorLabel>
        <rules>
            <name>Pipeline_or_Delivery</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delivery</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project_Billing_Type</targetReference>
            </connector>
            <label>Pipeline or Delivery</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_Type</name>
        <label>Project Type</label>
        <locationX>1964</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Set_Notes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Strategic_or_Functional</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Project_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal - Strategic</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.pse__Project__r.pse__Project_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Internal - Functional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Requested_Hours</targetReference>
            </connector>
            <label>Strategic or Functional</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requested_Bill_Rate_changed</name>
        <label>Requested Bill Rate changed</label>
        <locationX>776</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Set_Notes_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__Requested_Bill_Rate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.pse__Rate_Card__r.pse__Suggested_Bill_Rate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Discount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requested_Hours</name>
        <label>Requested Hours</label>
        <locationX>1766</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Set_RL_as_Approver_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Hours &lt;=40</defaultConnectorLabel>
        <rules>
            <name>Hours_40</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.pse__SOW_Hours__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_GL_as_Approver_0</targetReference>
            </connector>
            <label>Hours &gt; 40</label>
        </rules>
    </decisions>
    <formulas>
        <name>AutoApprovalMessage1</name>
        <dataType>String</dataType>
        <expression>&apos;Auto Approved - T&amp;M - Variance = 0&apos; + TEXT( {!$Record.Bill_Rate_Variance__c})</expression>
    </formulas>
    <formulas>
        <name>GetDirector</name>
        <dataType>String</dataType>
        <expression>{!$Record.pse__Project__r.Director__r.pse__Salesforce_User__c}</expression>
    </formulas>
    <formulas>
        <name>GetRegionalLead</name>
        <dataType>String</dataType>
        <expression>{!$Record.pse__Project__r.pse__Region__r.pse__Region_Head__r.pse__Salesforce_User__c}</expression>
    </formulas>
    <interviewLabel>Resource Req: MASTER After Save Flow SM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resource Req: MASTER After Save Flow SM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Global_Lead</name>
        <label>Get Global Lead</label>
        <locationX>1518</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Natalia</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Dir_as_Approver</name>
        <label>Set Dir as Approver</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>RR_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>GetDirector</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_GL_as_Approver</name>
        <label>Set GL as Approver</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>RR_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>Get_Global_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_GL_as_Approver_0</name>
        <label>Set GL as Approver</label>
        <locationX>1634</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>RR_Approval_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>Get_Global_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Notes</name>
        <label>Set Notes</label>
        <locationX>2162</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>RR_Auto_Approval_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Notes__c</field>
            <value>
                <stringValue>&apos;Internal Other&apos;</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Notes_0</name>
        <label>Set Notes</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>RR_Auto_Approval_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Notes__c</field>
            <value>
                <stringValue>&apos;Pipeline/Delivery - Fixed Price&apos;</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Notes_0_0</name>
        <label>Set Notes</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>RR_Auto_Approval_0</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Notes__c</field>
            <value>
                <stringValue>&apos;T&amp;M - Bill Rate not changed&apos;</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Notes_0_0_0</name>
        <label>Set Notes</label>
        <locationX>842</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>RR_Auto_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>pse__Notes__c</field>
            <value>
                <elementReference>AutoApprovalMessage1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_RL_as_Approver</name>
        <label>Set RL as Approver</label>
        <locationX>314</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>RR_Approval</targetReference>
        </connector>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>GetRegionalLead</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_RL_as_Approver_0</name>
        <label>Set RL as Approver</label>
        <locationX>1898</locationX>
        <locationY>815</locationY>
        <connector>
            <targetReference>RR_Approval_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Approver__c</field>
            <value>
                <elementReference>GetRegionalLead</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1392</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Global_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>psa_Submitted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>psa_Submitted__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>pse__Resource_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
